.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22caff;
    padding: 0.75rem 2rem;
    font-family: sans-serif;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 0.4rem;
  }
  
  .navbar-logo img {
    width: 30px; /* más pequeño */
    height: auto;
  }
  
  .white {
    color: white;
  }
  
  .red {
    color: #dc2626;
  }
  
  .navbar-links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .navbar-links a:hover {
    color: #0f172a;
  }
  
  .navbar-user {
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: rgba(125, 211, 252, 0.95); /* azul transparentoso */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    color: #0f172a;
  }
  .flag {
    width: 30px;
    height: auto;
    border-radius: 4px;
  }
  
    